/* RED:       #C51342 | rgba(197,19,66,1) */
/* DARK RED:	#A31938 | rgba(163,25,56,1) */
/* WHITE:     #FFFFFF | rgba(255,255,255,1) */
/* BLACK:     #212020 | rgba(33,32,32,1) */
/* GREY:		  #C8C8C8 | rgba(200,200,200,1) */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

html {
    height: 100%;
    width: 100%;
    font-size: 16px;
}



body {
    font-family: 'Roboto';
    font-weight: 100;
    color: #FFFFFF;
    color: rgba(255,255,255,1);
    background: #212020;
    background: rgba(33,32,32,1);
    overflow: hidden;
}

h1 {
  font-family: 'Shrikhand';
  font-size: 3.5rem;
}

@media (max-width : 47.9375rem) {
  h1 {
    font-family: 'Shrikhand';
    font-size: 2.5rem;
  }
}

h2 {
  font-family: 'Rock Salt';
  font-size: 1.5rem;
}

h4 {
  font-family: 'Roboto';
  font-size: 1.2rem;
  font-weight: 100;
}

.header {
  padding-bottom: 1.5625rem;
  padding-top: 1.5625rem;
}

.pad {
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}

.vertical_center {
    display: flex;
    align-items: center;
}

/* SECTION 1 (MAIN SCREEN) */

#main {
  min-height: 100vh;
  background-image: url("../img/main_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 4.6875rem;
}

.mainlogo {
  max-width: 70vw;
  max-height: 70vh;
}

/* SECTION 2 (ROSTER) */

#roster {
  min-height: 25vh;
  padding-bottom: 3.125rem;
}

#roster img {
  max-width: 50%;
  border-radius: 50%;
}

/* SECTION 3 (SCHEDULE) */

#schedule {
  min-height: 25vh;
  background: #C51342;
  background: rgba(197,19,66,1);
  padding-bottom: 3.125rem;
  font-size: 1em;
}

#schedule a, #schedule .sec a:visited {
  color: #FFFFFF;
  color: rgba(255,255,255,1);
  text-decoration: none;
  background: transparent;
}

#schedule a:hover, #schedule a:focus, #schedule a:active {
  color: #212020;
  color: rgba(33,32,32,1);
  text-decoration: none;
  background: transparent;
}

/* SECTION 4 (STATS) */

#stats {
  min-height: 50vh;
  background: #FFFFFF;
  background: rgba(255,255,255,1);
  padding-bottom: 3.125rem;
  color: #212020;
  color: rgba(33,32,32,1);
  font-size: 1.25em;
}

/* SECTION 5 (STANDINGS) */

#standings {
  min-height: 50vh;
  background: #C51342;
  background: rgba(197,19,66,1);
  padding-bottom: 3.125rem;
  font-size: 1.25em;
}

@media (max-width : 47.9375rem) {
  #standings, #stats, #schedule {
    font-size: 0.9em;
  }
}

.bop {
  background-color: #FF00FF;
}
