.navbar-lob {
    background: #FFFFFF;
    background: rgba(255,255,255,1);
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    color: #212020;
    color: rgba(33,32,32,1);
    height: 50px;
    border: 0;
    z-index: 10;
    margin-top: 25px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.navbar-nav > li > a, .navbar-nav > li > a:visited {
  margin-top: 0;
  margin-bottom: 25px;
  height: 50px;
  padding-top: 15px !important;
  padding-bottom: 0 !important;
  color: #212020;
  color: rgba(33,32,32,1);
  font-size: 1.5em;
  font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav > li > a:active {
  color: #FFFFFF;
  color: rgba(255,255,255,1);
  background: #C51342;
  background: rgba(197,19,66,1);
  text-decoration: none;
}

.navbar-lob li {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    height: 100px;
    padding: 0;
    margin-top: -25px;
}

.navbar-brand a:hover, a:active {
    height: 100px;
    padding: 0;
    margin-top: -25px;
    margin-bottom: 0;
    background: transparent;
}

.navbar-brand img {
    height: 100px;
    margin: 0;
}

.navbar-logo {
    content:url("../img/logo_sm.png");
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.icon-bar {
    background: #212020;
    background: rgba(33,32,32,1);
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background: #FFFFFF;
    background: rgba(255,255,255,1);
    border: 0;
}

.navbar-toggle:hover {
    background: #C51342;
    background: rgba(197,19,66,1);
}

.navbar-toggle:hover .icon-bar {
    background: #FFFFFF;
    background: rgba(255,255,255,1);
}

@media (max-width : 767px) {
  .navbar-nav {
    background: transparent;
    margin-top: 0;
    padding: 0;
    margin-bottom: 0;
  }

  .navbar-nav > li {
    background: #FFFFFF;
    background: rgba(255,255,255,1);
    padding: 0;
    height: 50px;
    margin: 0;
    overflow: hidden;
  }
}
