th, thead {
  font-weight: 500;
}

/* SCHEDULE TABLE */

@media (min-width: 768px)  {
  #schedule table {
    width: 85vw;
    margin: 0 auto;
  }

  #schedule td:nth-of-type(1) {
    width: 10%;
  }

  #schedule td:nth-of-type(2) {
    width: 10%;
  }

  #schedule td:nth-of-type(3) {
    width: 21%;
  }

  #schedule td:nth-of-type(4) {
    width: 25%;
  }

  #schedule td:nth-of-type(5) {
    width: 23%;
  }

  #schedule td:nth-of-type(6) {
    width: 11%;
  }
}

@media (max-width: 767px)  {

  #schedule table, #schedule thead, #schedule tbody, #schedule th, #schedule td, #schedule tr {
    display: block;
  }

  #schedule thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #schedule tr {
    padding: 1.25em;
  }

  #schedule td {
    border: 0;
    position: relative;
    padding-left: 35%;
    width: 100%;
    align-items: center;
  }

  #schedule td:before {
    position: absolute;
    left: 0;
    width: calc(35% - 10px);
    width: -webkit-calc(35% - 10px);
    width: -moz-calc(35% - 10px);
    width: -o-calc(35% - 10px);
    padding-right: 10px;
    font-weight: 500;
  }

  #schedule td:nth-of-type(1):before {
    content: "Date";
    text-align: right;
  }

  #schedule td:nth-of-type(2):before {
    content: "Time";
    text-align: right;
  }

  #schedule td:nth-of-type(3):before {
    content: "Field";
    text-align: right;
  }

  #schedule td:nth-of-type(4):before {
    content: "Address";
    text-align: right;
  }

  #schedule td:nth-of-type(5):before {
    content: "vs";
    text-align: right;
  }

  #schedule td:nth-of-type(6):before {
    content: "Result";
    text-align: right;
  }
}

/* STANDINGS TABLE */

#standings table {
  width: 85vw;
  margin: 0 auto;
}

#standings td:nth-of-type(1) {
  width: 46%;
}

#standings td:nth-of-type(2) {
  width: 8%;
}

#standings td:nth-of-type(3) {
  width: 8%;
}

#standings td:nth-of-type(4) {
  width: 8%;
}

#standings td:nth-of-type(5) {
  width: 10%;
}

#standings td:nth-of-type(6) {
  width: 10%;
}

#standings td:nth-of-type(7) {
  width: 10%;
}

/* STATS TABLE */

#stats table {
  width: 85vw;
  margin: 0 auto;
}

#stats td:nth-of-type(1) {
  width: 50%;
}

#stats td:nth-of-type(2) {
  width: 8%;
}

#stats td:nth-of-type(3) {
  width: 10%;
}

#stats td:nth-of-type(4) {
  width: 10%;
}

#stats td:nth-of-type(5) {
  width: 10%;
}

#stats td:nth-of-type(6) {
  width: 12%;
}
